body{
  background-color: #9266ff;
}
.App{
  background-color: #3f3160;
  min-height: 500px;
  max-width: 400px;
  margin: 40px auto;
}
#todoForm input{
  background-color: rgb(27, 112, 137);
  border: 0;
  width: 250px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10PX;
  color: white;

}
#todoForm input:focus{
  outline: none;
}
#todoForm input::placeholder{
  color: #fff;
}
#todoForm button {
  height: 50px ;
  width: 60px;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(202, 156, 24);
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}

